<log4net>
    <appender name="GelfUdpAppender" type="Gelf4Net.Appender.GelfUdpAppender, Gelf4Net.UdpAppender">
        <remoteAddress value="10.10.20.113" />
        <remotePort value="50001" />
        <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net.Core">
            <param name="AdditionalFields" value="app:DotnetcoreUdpAppender,version:1.0,Environment:Dev,Level:%level" />
            <param name="Facility" value="AmitMS" />
            <param name="IncludeLocationInformation" value="true" />
            <param name="ConversionPattern" value="%-5level [%thread] %logger{1} %M - %m" />
            <param name="SendTimeStampAsString" value="false"/>
        </layout>
    </appender> 

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="errors/errors.log" />
      <appendToFile value="true" />
      <maximumFileSize value="2000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[Date:%date] [ThreadId:%thread] [HostName:%property{log4net:HostName}] [Host:%property{Host}] [ClientIP:%property{ClientIP}] [Browser:%property{Browser}] [UserAgent:%property{UserAgent}] [PhysicalPath:%property{PhysicalPath}] [Url:%property{Url}] [QueryString:%property{QueryString}] [Referrer:%property{Referrer}] [%logger] %message%newline" />
      </layout>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="GelfUdpAppender" />
        <appender-ref ref="RollingFile" />
    </root>
</log4net>